
<app-layer-attribute-table #featureAttributeTableComponent></app-layer-attribute-table>


<div class="card-header p-2 text-center" role="tab" id="headingMenu">
  <div data-toggle="collapse" href="#collapseLegend" aria-expanded="true" aria-controls="collapseLegend">
    <b>{{ 'button.topics' | translate }}</b>
  </div>
</div>
<div role="tablist" aria-multiselectable="true">
    <div *ngFor="let categorie of layervariables" class="card">
        <div class="card-header" role="tab" id="categorie{{categorie.id_categorie}}" (click)="toggleIcon(categorie.id_categorie)">
            <h5 class="mb-0">
                <a class="categorie-title collapsed" data-toggle="collapse" data-parent="#menuaccordion" [attr.href]="'#collapse'+categorie.id_categorie"
                    [title]="categorie.help || categorie.categorie"
                    [attr.aria-controls]="'#collapse'+categorie.id_categorie" (click)="toggleIcon(categorie.id_categorie)" aria-expanded="false">               
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 12 12" style="margin-right: 10px;">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                    </svg>
                      {{ categorie.categorie | translate }}
                </a>
            </h5>
        </div>
        <div class="collapse collapse-close" [attr.id]="'collapse'+categorie.id_categorie" role="tabpanel" [attr.aria-labelledby]="'categorie'+categorie.id_categorie">
            <div class="list-group">
                <div *ngFor="let feature of categorie.features">
                    <a type="button" class="list-group-item btn-feature layer-entry"
                        style="width: 100%;" 
                        [class.visible]="mapService.isVisible(feature.layername)"
                    >
                        <div>
                            
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input position-static"
                                [checked]="categorie.id_categorie === 4 || (userContext.vLay.indexOf(feature.layername.replace(myRegex, '')) >= 0)"
                                (click)="onSelect($event,feature)">
                            
                                {{ feature.layername | translate }} 

                            </label>
                            
                            
                            <div (click)="onInfo(feature)" class="metadata-circle" [title]="feature.md_url ? 'Metadata' : 'N/A'"><b>?</b></div>
                            
                            <span *ngIf="mapService.isInRange(feature.layername)==false" 
                                style="cursor:pointer;margin: 3px;vertical-align: middle;"
                                title="Layer visibility"
                                data-container="body"
                                data-toggle="popover"
                                data-trigger="hover"
                                data-html="true"
                                data-parent="true"
                                attr.data-content="<div class='alert alert-warning'><i class='fa fa-warning' aria-hidden='true'></i> {{ 'panel.visibiltylayer' | translate }}</div>"
                                data-placement="top"
                            >
                                <i class="fa fa-eye-slash" aria-hidden="true" style="font-size: 18px;"></i>
                            </span>

                            <a class="layer-entry collapsed" data-toggle="collapse" href="#{{feature.nom_court_trim}}Collapse" role="button" aria-expanded="false">
                                <i class="fa fa-chevron-right img-expandable" aria-hidden="true"></i>

                                <span class="loading-panel" *ngIf="getState(feature)>0">
                                    <div class="loading-counter">{{getState(feature)}}</div>
                                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                                </span>
                            </a>
                           
                            <div class="collapse" id="{{feature.nom_court_trim}}Collapse" style="align-items: center;">
                                <div class="card card-body">                                                            
                                    <input #ref
                                        type="range" min ="0" max="100" step ="2.5"
                                        value ="{{feature.opacity}}"
                                        (change)="changeOpacity($event,feature,ref.value);false"
                                    />

                                    <span 
                                        style="cursor:pointer;margin: 3px"
                                        (click)="openAttributeTable($event, feature)"
                                        title="Attribute table" 
                                        data-container="body"
                                        data-toggle="popover"
                                        data-trigger="hover"
                                        data-html="true"
                                        attr.data-content="<div class='alert alert-warning'><i class='fa fa-warning' aria-hidden='true'></i> {{ 'panel.visibiltytable' | translate }} </div>"
                                        data-placement="top"
                                        >
                                        <i class="fa fa-table" aria-hidden="true" ></i> {{ 'panel.attributes' | translate }}
                                    </span>

                                    <span *ngIf="feature.download_json"
                                    style="cursor:pointer;margin: 3px"
                                    (click)="onJsonDownload($event,feature)" 
                                    title="View GEOJSON"
                                    data-container="body"
                                    data-toggle="popover"
                                    data-trigger="hover"
                                    data-html="true"
                                    attr.data-content="<div class='alert alert-warning'><i class='fa fa-warning' aria-hidden='true'></i> {{ 'panel.zonekml' | translate }}</div>"
                                    data-placement="top"
                                    >
                                    <i class="fa fa-code" aria-hidden="true"></i> geojson
                                    </span>
                                </div>
                                <div class="card card-body" style="width: 18rem;">
 <!--                                    <span *ngIf="feature.download_gpkg" 
                                        style="cursor:pointer;margin: 3px"
                                        (click)="onGeopkgDownload($event,feature)" 
                                        title="Download GPKG"
                                        data-container="body"
                                        data-toggle="popover"
                                        data-trigger="hover"
                                        data-html="true"
                                        attr.data-content="<div class='alert alert-warning'><i class='fa fa-warning' aria-hidden='true'></i> {{ 'panel.zonekml' | translate }}</div>"
                                        data-placement="top"
                                    >
                                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i> gpkg
                                    </span> -->
                                    <span *ngIf="feature.download_csv" 
                                        style="cursor:pointer;margin: 3px"
                                        (click)="onCsvDownload($event,feature)" 
                                        title="Download CSV"
                                        data-container="body"
                                        data-toggle="popover"
                                        data-trigger="hover"
                                        data-html="true"
                                        attr.data-content="<div class='alert alert-warning'><i class='fa fa-warning' aria-hidden='true'></i> {{ 'panel.zonekml' | translate }}</div>"
                                        data-placement="top"
                                    >
                                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i> csv
                                    </span>

                                    <span *ngIf="feature.download_kml" 
                                        style="cursor:pointer;margin: 3px"
                                        (click)="onKmlDownload($event,feature)" 
                                        title="Download KML"
                                        data-container="body"
                                        data-toggle="popover"
                                        data-trigger="hover"
                                        data-html="true"
                                        attr.data-content="<div class='alert alert-warning'><i class='fa fa-warning' aria-hidden='true'></i> {{ 'panel.zonekml' | translate }}</div>"
                                        data-placement="top"
                                    >
                                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i> kml
                                    </span>
                                    <span *ngIf="feature.download_shp"
                                        style="cursor:pointer;margin: 3px"
                                        (click)="onShpDownload($event,feature)"
                                        title="Download SHP" 
                                        data-container="body"
                                        data-toggle="popover"
                                        data-trigger="hover"
                                        data-html="true"
                                        attr.data-content="<div class='alert alert-warning'><i class='fa fa-warning' aria-hidden='true'></i>{{ 'panel.zoneshp' | translate }}</div>"
                                        data-placement="top"
                                    >
                                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i> shp
                                    </span>
<!--                                     <span *ngIf="feature.sld_path"
                                        style="cursor:pointer;margin: 3px"
                                        (click)="onSldDownload($event,feature)"
                                        title="Download SLD"
                                        data-container="body"
                                        data-toggle="popover"
                                        data-trigger="hover"
                                        data-html="true"
                                        attr.data-content="<div class='alert alert-warning'><i class='fa fa-warning' aria-hidden='true'></i>{{ 'panel.styledownload' | translate }}</div>"
                                        data-placement="top"
                                    >
                                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i> sld
                                    </span> -->

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
