<div id="main_info_container">
  <div id=writed_info>
    <!-- Display all the info about the feature-->
    <div *ngIf="featureImportantTagsList.isEmpty() == false; else nothingToDisplay"><!-- If there is something to display -->
      <div *ngFor="let featureImportantTags of featureImportantTagsList.list">
        <div id={{featureImportantTags.importance}}> <!-- high, medium, low, no -->
          <div *ngFor="let keyLabelObject of featureImportantTags.tagList.list">             
            <div [ngSwitch]="keyLabelObject.key">
              <div *ngSwitchCase="'phone'"><a target="_blank" href="tel:{{selectedFeature.get(keyLabelObject.key)}}" title="Appeler le numéro">{{selectedFeature.get(keyLabelObject.key)}}</a></div> 
              <div *ngSwitchCase="'website'"><a target="_blank" href="{{selectedFeature.get(keyLabelObject.key)}}" title="Consulter le site web">Website</a></div>
              <div *ngSwitchCase="'email'"><a target="_blank" href="mailto:{{selectedFeature.get(keyLabelObject.key)}}" title="Envoyer un mail">Email</a></div>
              <div *ngSwitchDefault>
                <a *ngIf="!keyLabelObject.key.startsWith('addr')">
                  <span *ngIf="keyLabelObject.label!=null"><u>{{keyLabelObject.label}} :</u> </span> {{selectedFeature.get(keyLabelObject.key)}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span id="addr"> <!-- Special display for the adress : see method getAddr()-->
        <span *ngFor="let addr of addrString;index as i;">
            <span>{{selectedFeature.get(addr)}} </span>
            <a *ngIf="i%2==1"><br></a> <!-- To display exactly 2 infos on the same line -->
        </span>
      </span>
    </div>
    <ng-template #nothingToDisplay><!-- If there is nothing to display -->
      <a><i>No info {{selectedFeature.get("osm_id")}}</i></a>
    </ng-template>
  </div>
  <div id=external_links> <!-- Tags related to external links (do NOT write them in config) like Wikipedia, national databases, ... -->
    <!--Logo OSM -->
    <span *ngIf="selectedFeature.get('osm_id')>0, else id_negatif"><a class="logo_OSM" target="_blank" href="http://www.openstreetmap.org/{{osm_type}}/{{selectedFeature.get('osm_id')}}" title="Voir l'objet sur openstreetmap.org"><img src="assets/images/osm_logo_25px.png"></a></span>
    <ng-template #id_negatif><a class="logo_OSM" target="_blank" href="http://www.openstreetmap.org/relation/{{selectedFeature.get('osm_id')*-1}}" title="Voir l'objet sur openstreetmap.org"><img src="assets/images/osm_logo_25px.png"></a></ng-template>
    <span *ngFor="let k of keys" title="Voir la base de données relative à l'objet et à sa couche">
      <span *ngIf="k == 'wikipedia'"><a target="_blank" href="https://fr.wikipedia.org/wiki/{{selectedFeature.get(k)}}" title="Voir l'objet sur Wikipedia"><img src="assets/images/wikipedia_50_39px.png"></a><br></span>
      <span *ngIf="k == 'wikidata'"><a target="_blank" href="https://www.wikidata.org/wiki/{{selectedFeature.get(k)}}" title="Voir l'objet sur Wikidata"><img src="assets/images/wikidata_50_35px.png"></a><br></span>
      <span *ngIf="k == 'twitter'"><a target="_blank" href="https://www.twitter.com/{{selectedFeature.get(k)}}" title="Lien vers le compte Twitter">@{{selectedFeature.get(k)}}</a><br></span>
    </span>
  </div>
</div>






